@charset "utf-8";
/* CSS Document */

body {
background-color:#e1e1e1;
padding:0;
margin:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}
a {text-decoration: none; color:#2C79B3}
A:link {text-decoration: none; color:#2C79B3}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: red;}



/* Menu */

#menu {
	background:url(images/menuHor.jpg);
}

#menu a {
	display: block;
	font-weight: bold;
	color:#FFFFFF;
}

#menu a:hover {
	background:#0000FF;
	text-decoration: none
}

#menu .active a {
	background:#FF0000;
	text-decoration: none
}



#btSearch{

}
.footer {
text-align:center;
clear:both;
font-size:11px;
}
#wrap {
background-color:#FFFFFF;
}
#wrap_left {
width: 1100px;
margin: 0 auto;
background: transparent url(images/left_bg.png) repeat-y scroll 0 0;
}
#wrap_right {
padding: 0 32px;
background: transparent url(images/right_bg.png) repeat-y scroll 100% 0;
}


.nav{
border-top: solid 2px #2C79B3;
padding: 3px;
}

#content
{
	padding-left:10px;
	text-align:justify;
}
.title_content
{
color:#FF6600;
font-size:18px; 
background-position: center center;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-align:left;

}
#table_left{
text-align:left;
margin-right:3em;
font-size:13px;
}
#table_right{
border-left:solid 2px #2C79B3;
font-size:13px;
}

#picture
{
padding-top:70px;
}


h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FF6600;
}
h2{
font-family: Verdana, Arial, Helvetica, sans-serif;
}
#result_search
{
color:#FF6600;
font-size:11px;
font-style:italic;
}
#txtSearch
{
border:#FF0000;
padding:0;
margin:0;
height:33px;
width:506px;
vertical-align:middle;
}

#divtop
{
 clear: both;
}

#divleft
{
 float: left;
}

#divright
{
 float: right;
 padding-right:100px;
}

#divbottom
{
 clear: both;
}
.textForm_Hover{
background:#FFFF99;
border: 1.5px solid #5A9B20;
}
.textForm {
border: 1.5px solid #666;
}
.blockhead{
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:url("images/buttons/newbtn_middle.png") repeat-x scroll 0 0 #7192A8;
border:1px solid #5A7F97;
color:#FFFFFF;
font:12px Tahoma,Calibri,Verdana,Geneva,sans-serif;
padding:4px 10px;
margin:0;
}
.subblockhead{
background:none repeat-x scroll 0 0 #E9E9E9;
border-top:0 solid #FFFFFF;
color:#3E3E3E;
margin:0 1px;
padding:4px 10px;
margin-top:0;
margin-bottom:3px;
}

.page {
background-color:#FFFFFF;
border:1px solid #6B91AB;
height:75px;
overflow:auto;
padding:10px;
}
.frmRegister{
margin:10px 100px;
font-size:13px;
}
.hidden{
		display: none;
	}
	.display{
	}
        .lmn{
            background: #0099CC;
}

.subtable{
    margin:0px;
    border-bottom:thick #0000FF;
    border-left:thick #0000FF;

}
#top-header{
    background:url("images/rv3_m_h_bg.jpg");
    color: #0000FF;
	height:40px;
}
.mnu{
background:#0099FF;
padding-top:7px;
padding-bottom:7px;
text-align:center;
color:#FFFFFF;
font-size:15px;
text-transform:uppercase;
font: bold Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
}
.cellImage
{
    float:left;
    padding:15px;
    width: 150px;
    height: 240px;
}
.bt
{
border:none;
}

 .tableBM_on{
    background: fuchsia;
}
 .tableBM_off{
}

.html4strict {
background-color:#F5F5F5;
border:1px solid #D0D0D0;
color:#000066;
}
.head  {
background-color:#F0F0FF;
border-bottom:1px solid #D0D0D0;
padding:2px;
color:#FF6600;
font-size:18px;
background-position: center center;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-align:left;
}
.foot  {
background-color:#F0F0FF;
border-top:1px solid #D0D0D0;
color:#808080;
font-family:Verdana,Arial,sans-serif;
font-size:10px;
font-weight:bold;
padding:2px;
}