<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SearchRaoVatController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchRaoVatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRaoVatController</servlet-name>
        <servlet-class>org.me.ViSearchController.DetailRaoVatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchWikiController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchWikiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberLoginController</servlet-name>
        <servlet-class>org.me.ViSearchController.MemberLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterMemberController</servlet-name>
        <servlet-class>org.me.ViSearchController.RegisterMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMusicController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchMusicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchVideoController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchVideoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberLogoutController</servlet-name>
        <servlet-class>org.me.ViSearchController.MemberLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookmarkController</servlet-name>
        <servlet-class>org.me.ViSearchController.BookmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailWikiController</servlet-name>
        <servlet-class>org.me.ViSearchController.DetailWikiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopSearch</servlet-name>
        <servlet-class>org.me.ViSearchController.TopSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchImageController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchImageDetailController</servlet-name>
        <servlet-class>org.me.ViSearchController.DetailImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailImageController</servlet-name>
        <servlet-class>org.me.ViSearchController.DetailImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNewsController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailNewsController</servlet-name>
        <servlet-class>org.me.ViSearchController.DetailNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookmartController</servlet-name>
        <servlet-class>org.me.ViSearchController.GetBookmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookmarkController</servlet-name>
        <servlet-class>org.me.ViSearchController.GetBookmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingController</servlet-name>
        <servlet-class>org.me.ViSearchController.TrackingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookmark</servlet-name>
        <servlet-class>org.me.ViSearchController.DeleteBookmark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckValidUsername</servlet-name>
        <servlet-class>org.me.ViSearchController.CheckValidUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookmarkController</servlet-name>
        <servlet-class>org.me.ViSearchController.SearchBookmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickViewController</servlet-name>
        <servlet-class>org.me.ViSearchController.QuickViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberInfoController</servlet-name>
        <servlet-class>org.me.ViSearchController.MemberInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadConfigController</servlet-name>
        <servlet-class>org.me.admin.LoadConfigController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAllMemberController</servlet-name>
        <servlet-class>org.me.admin.LoadAllMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveConfigController</servlet-name>
        <servlet-class>org.me.admin.SaveConfigController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSettingDefault</servlet-name>
        <servlet-class>org.me.admin.LoadSettingDefault</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberController</servlet-name>
        <servlet-class>org.me.admin.DeleteMemberController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoleController</servlet-name>
        <servlet-class>org.me.admin.UpdateRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMyBookmark</servlet-name>
        <servlet-class>org.me.ViSearchController.ShowMyBookmark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAllController</servlet-name>
        <servlet-class>org.me.ViSearchController.DetailAllController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRaoVatController</servlet-name>
        <url-pattern>/DetailRaoVatController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRaoVatController</servlet-name>
        <url-pattern>/SearchRaoVatController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchWikiController</servlet-name>
        <url-pattern>/SearchWikiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberLoginController</servlet-name>
        <url-pattern>/MemberLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterMemberController</servlet-name>
        <url-pattern>/RegisterMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMusicController</servlet-name>
        <url-pattern>/SearchMusicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchVideoController</servlet-name>
        <url-pattern>/SearchVideoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberLogoutController</servlet-name>
        <url-pattern>/MemberLogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookmarkController</servlet-name>
        <url-pattern>/BookmarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailWikiController</servlet-name>
        <url-pattern>/DetailWikiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopSearch</servlet-name>
        <url-pattern>/TopSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchImageController</servlet-name>
        <url-pattern>/SearchImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchImageDetailController</servlet-name>
        <url-pattern>/SearchImageDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailImageController</servlet-name>
        <url-pattern>/DetailImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllController</servlet-name>
        <url-pattern>/SearchAllController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNewsController</servlet-name>
        <url-pattern>/SearchNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailNewsController</servlet-name>
        <url-pattern>/DetailNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookmartController</servlet-name>
        <url-pattern>/GetBookmartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookmarkController</servlet-name>
        <url-pattern>/GetBookmarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingController</servlet-name>
        <url-pattern>/TrackingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookmark</servlet-name>
        <url-pattern>/DeleteBookmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckValidUsername</servlet-name>
        <url-pattern>/CheckValidUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookmarkController</servlet-name>
        <url-pattern>/SearchBookmarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickViewController</servlet-name>
        <url-pattern>/QuickViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberInfoController</servlet-name>
        <url-pattern>/MemberInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadConfigController</servlet-name>
        <url-pattern>/LoadConfigController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAllMemberController</servlet-name>
        <url-pattern>/LoadAllMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveConfigController</servlet-name>
        <url-pattern>/SaveConfigController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSettingDefault</servlet-name>
        <url-pattern>/LoadSettingDefault</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberController</servlet-name>
        <url-pattern>/DeleteMemberController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoleController</servlet-name>
        <url-pattern>/UpdateRoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMyBookmark</servlet-name>
        <url-pattern>/ShowMyBookmark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAllController</servlet-name>
        <url-pattern>/DetailAllController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
